<%- include("template/cabecera", {tituloWeb: "Detalle del Pokemon"}) %>
<div class="container">
    <h1>Detalles del Pokémon</h1>
    <% if (error){ %>
    <%= mensaje %>
    <a class="btn btn-dark btn-block my-2" href="/pokemon">Volver</a>
    <% } %>
    <% if (!error){ %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>  
                <tr>
                    <th scope="row"><%= pokemon.id %></th>
                    <td><%= pokemon.nombre %></td>
                    <td><%= pokemon.tipo %></td>
                    <td><%= pokemon.descripcion %></td>
                    <td>
                     <button class="btn btn-danger btn-sm" data-id="<%= pokemon._id %>">Eliminar</button>
                    </td>  
                </tr>
            </tbody>
        </table>   
        <% } %> 
</div>
<%- include("template/footer") %>